<%- include('header') %>

  You viewed <%= viewsCount %> times;

  <% if(message){ %>
    
    <p class="alert alert-info">
      <%= message %>
    </p>
  
  <% } %>
  

  <a href="/users/login">Login</a>
  <a href="/users/register">Register</a>

  <%- include('footer') %>