<%- include('header') %>

<form action="/users/login" method="POST">
  
  <div class="form-group">
    <label for="">Username:</label>
    <input type="text" class="form-control" name="username">
  </div>

  <div class="form-group">
    <label for="">Password:</label>
    <input type="password" class="form-control" name="password">
  </div>

  <input type="submit" value="Login">
</form>

<a href="/users/register">register</a>

<%- include('footer') %>
