<%- include('header') %>

<ul>
  <% for(let p of profiles){ %>
  <!-- <li> <%- p.name %> </li> -->
  <li>
    <%- include('user-card', {user:p}) %>
    <a href="/profiles/<%= p.name %>">Details</a>
  </li>
  <% } %>
</ul>

<%- include('footer') %>
