<%- include('header') %>

<h4>Registration</h4>

<!-- 
  Emmet / ZenCoding Plugin:

  form>.form-group*3>label+input.form-control
-->

<form action="/users/register" method="POST" enctype="multipart/form-data">
  <% for(let e of errors){ %> <%= e %> <% } %>

  <div class="form-group">
    <label>Username:</label>
    <input
      type="text"
      class="form-control"
      name="username"
      value="<%= username  %>"
    />
  </div>

  <div class="form-group">
    <label>Email:</label>
    <input type="text" class="form-control" name="email" value="<%= email %>" />
  </div>

  <div class="form-group">
    <label>Password:</label>
    <input
      type="password"
      class="form-control"
      name="password"
      value="<%= password %>"
    />
  </div>

  <div class="form-group">
    <input type="file" name="avatar" />

    <img src="<%= avatar %>" alt="Avatar" />

    <input type="file" name="gallery" multiple="multiple" />
  </div>

  <input type="submit" value="Register" />
</form>

<a href="/users/login">Login</a>

<%- include('footer') %>
